@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;

}
.logo-container {
  display: flex;
  justify-content: center;
  width: 50%;
  
  gap: 10px;
}
.logo-container h1{
 
}
.logo-container img {
  
  width: 50px;
  height: 30px;
  object-fit: cover;
 
  
}
.logo-container p {
  font-size: 30px;
}
.nav-item-container {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 5px;
  margin-right: 2rem;
  gap: 20px;
}
.nav-item-container a {
  text-decoration: none;
  gap: 5px;
}
.primary-color {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
/* banner section style */
.bannner-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
  width: 100%;
}
/* .banner-img-container{
   
 } */

.banner-img-container img {
  height: 70vh;
}
.banner-title {
  background-image: url(images/Group\ 14.png);
  background-position: cover;
  background-repeat: no-repeat;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-all-info h1 {
  margin-top: 13vh;

  color: #0b0223;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.goat {
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-all-info li {
  color: #534c64;
  /* text-align: center; */
  list-style: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.Sign-in {
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 38px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
}
.Go-Rogue {
  display: inline-flex;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 38px;
  background: #4ec5f7;
  border: none;
}

/* online game & funny videos style */
.online-game-container {
    margin-top: 5vh;
  text-align: center;

}
.online-game-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.online-game-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.online-game-container h1 {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.online-game-container {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
}
/* play game online anywhere-anytime part start here  */
.play-game-container {
    
  max-width: 1400px;
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 70px 0;
}
.play-game-img-container {

  width: 50%;
  height: auto;
  position: relative;
  margin: 5%;
}
.play-game-parent{
    width: 100%;
    object-fit: cover;
}

.child-img {
  position: absolute;
  top: 65%;
  left: 37%;
}
.play-game-title {

  width: 50%;
}
.play-game-title h1 {
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
.play-game-title{
    color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 166.667%;
}

.play-games {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-game-img-container {
  display: flex;
}
.play-game-img-container img {
}
.play-game-img-container img {
  width: calc(50% - 10px);
  margin-right: 10px;
}

/* button section start here */
.button-container {
    margin: 4vh;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  border-radius: 50px;
  background: #fff;
  height: 10vh;
  cursor: pointer;
  border: none;
}
.icon-btn:hover{
    color:white;
    background-color: #f948b2;
    border: 2px solid gray;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 0.5rem;
}
/* footer section start here */
.footer-container {
  background: #0b0223;
  height: 40vh;
  background-position: center;
  background-size: cover;
  color: white;
}
.footer-items,
.term-condition {
  list-style: none;
}
.footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 18px;
}

.footer-title {
  margin-top: 10vh;
  padding: 10vh 0px 1vh 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-title img {
    width: 70px;
height: 30px;

}
.footer-logos li{
    list-style: none;

}
.footer-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}

.term-condition {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 11px;
  gap: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3vh;
}

.footer-paragraph p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;

font-size: 8px;
font-style: normal;
font-weight: 100;
line-height: normal; 
margin-top: 2vh; 
}
 /* responsive mobile device start here */
 @media  screen and (max-width:576px) {
   .nav-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   } 

   .logo-container{
    padding-bottom:25px ;
    margin-bottom: 2vh;
   }
   .nav-item-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
   .bannner-container{
    display: flex;
    flex-direction: column;
   
   }
   .banner-title{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 6rem;
   }
   .banner-all-info h1 {
    color: #0b0223;
    justify-content:center;
    align-items: center;
    text-align: center;
    
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }
    .goat{
        font-size: 50px;
        font-weight: 700px;
    }
    .banner-all-info li {
        font-size: 15px;
        padding: 7px;
    }
    /* online game and funny video */
  .online-game-container h1{
           font-size: 20px;
           font-weight: 600;
  }
.funny-video{
    font-size: 20px;
    font-weight: 600;

}
.online-game-container p{
    font-size: 12px;

}
 .online-game-img-container{
   display: flex;
   flex-direction: column;
   margin-top: 2rem;
 }
   .play-game-container{
    display: flex;
    flex-direction: column;
   }
   .play-game-title h1{
      margin-top: 5rem;
      font-size:20px ;
      font-weight: 900;
      
   }
   .play-game-title p {
     margin-top: 1.5rem;
      font-size: 8px;
      font-weight: 500;

   }

   /* incomplete button section  */
   .button-container{
    display: grid;
    grid-template-columns: repeat(2fr);
   }
   .button-container-2 {
    display:grid;
    grid-template-columns: repeat(1fr);
    align-items: center;
    text-align: center;
   }


 }




