@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
*{
    font-family: 'Work Sans', sans-serif
}


.nav-container{
    display: flex;
    justify-content: space-around;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container img {
    border: 2px solid red;
    width: 50px;
    height: 30px;
    object-fit: cover;
margin-left: 50px;
}
.logo-container p {
    font-size: 30px;
}
.nav-item-container {
   width: 50%;
}
.primary-color{
    color: ;
}
/* banner section style */
 .bannner-container{
    display: flex;
    justify-content: space-between;
 }
 .banner-img-container{
   
 }
 .banner-img-container img {
    height: 70vh;

 }
 .banner-title{
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
.banner-all-info h1 {
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.banner-all-info h2{
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
/* text-transform: uppercase; */
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}






/* online game & funny videos style */
.online-game-container {
text-align: center;
}
.online-game-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}
.online-game-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 /* play game online anywhere-anytime part start here  */

.play-game-img-container{
    display: flex;
}
.play-game-img-container img{
    width: 50%;
} 
.play-game-img-container img {
    width: calc(50% - 10px);
    margin-right: 10px;
} 
.play-game-img-container img:last-child{
    margin-right: 0px;
}
/* button section start here */
.button-container {
        
}
.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    border-radius: 50px;
    background: #FFF;
    height: 10vh;
}
.button-container{
    display:flex;
    justify-content: center;
    align-items: center;
   gap: 8px;
    
}

.button-container-2{
    display:flex;
    justify-content: center;
    align-items: center;
   gap: 8px;
   margin-top: 0.5rem;
}